<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EducationProject.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/Template/sweet-alert2/sweetalert2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/formhelper/formhelper.bundle.min.js"></script>

    <style>
/*body {
  font-family: "Lato", sans-serif;
}*/

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 10px 10px 10px 10px;
}

    </style>

</head>

@using EducationProject.Core.Constants;

<body>
    <header>

        @if (User.IsInRole(Constants.UserType.Admin.ToString()))
        {
        <div class="sidenav">
            <a href="/Education/AddEducation">Create Education</a>
            <a href="/Education/Index">Education List</a>
            <a href="/Account/Logout">Logout</a>
        </div>


        }
        @if (User.IsInRole(Constants.UserType.User.ToString()))
        {
            <div class="sidenav">
                <a href="/UserEducation/Index">Education List</a>
                <a href="/UserEducation/EducationList">Completed Education List</a>
                <a href="/Account/Logout">Logout</a>
            </div>
        }

    </header>
    <div class="container main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EducationProject.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script>
        function openNav() {
            debugger;
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function openNav2() {
            document.getElementById("mySidenav2").style.width = "250px";
        }

        function closeNav2() {
            document.getElementById("mySidenav2").style.width = "0";
        }

    </script>


    <script src="~/Template/sweet-alert2/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
