@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<style>

    input,
    label {
        margin: .4rem 0;
    }
</style>



@model IEnumerable<EducationProject.Contract.ResponseModel.Education.EducationContentResponseModel>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Education Content Type</th>
            <th>File</th>
            <th>Row number</th>
            <th>Transactions</th>

        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EducationContenTypeName
                    </td>
                    <td>
                        @item.FilePath?.Substring(36)
                    </td>
                    <td>
                        @item.RowNumber
                    </td>

                    <td>
                        <a href="#" class="deleteEducationContent btn btn-danger " data-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>

                </tr>
            }
        }


    </tbody>
</table>




<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });


    $(".deleteEducationContent").click(function () {

        var id = $(this).attr("data-id");
        var closestTR = $(this).closest("tr");

        swal({
            text: "Are you sure you want to delete training content?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-5',
            buttonsStyling: false
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Education/DeleteEducationContent?EducationContentId=' + id,
                    type: 'POST',
                    success: function (d) {
                        if (d.failed == false) {
                            closestTR.fadeOut(1000, function () {
                                closestTR.remove();
                            });

                            toastr.success(d.message, "Success");
                        }
                        else {

                            toastr.error(d.message, "Error");
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status == 403) {
                            window.location.href = "/Account/AccessDenied";
                        }
                    }
                });
            }

        });

    });

</script>